<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <title>Quicktrack - Track Your Phone Location</title>


    <link rel="stylesheet" href="style.css">
</head>
<body>
 

      <br>
      <header class="header">
        <h1 class="pageTitle">QuickTrac</h1>
    </header>
    <br>
    <br>
    <br>
    
    <p class="intro">Track Your Phone Using Your Phone Number Or IMEI Code</p>
    <br>
<center>
    <input type="number" placeholder="Enter Phone/IMEI " class="generate" required><br>
    <button class="track" id="track">Track</button>
</center>
<br>
 <br>
   <center>
    <p class="alert" id="warning">
        <i class="fas fa-exclamation-triangle">&nbsp; Aw! Snap </i><br>
        Our Backend Is Still Under Development . Check Back Later

    </p>

   </center> 



   <template>
    <div>
      <button @click="WaitList = true">Join Waitlist</button>
      <form v-if="Waitlist" @submit.prevent="submitForm">
        <label for="email">Email:</label>
        <input type="email" id="email" v-model="email" required>
        <button type="submit">Submit</button>
      </form>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        Waitlist: false,
        email: ''
      }
    },
    methods: {
      submitForm() {
        // Add code here to submit the form data to the server
        // or perform any other actions you want to do with the form data
        console.log(this.email)
      }
    }
  }
  </script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  
    <script src="script.js"></script>
</body>
</html>
